@font-face {
	font-family: peyda;
	font-style: normal;
	font-weight: 400;
	src: url('../font/Peyda.woff') format('woff'),   
	url('../font/Peyda.woff2') format('woff2');	
}
body{
    direction: rtl;
    font-family: peyda;
    font-size: 14px;
    background: #f9f9f9;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: peyda;
}
a{
    text-decoration: none;
}
nav.navbar{
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    background-color: #fff;
}
ul.navbar-nav {
    margin: 0 auto;
}
ul.navbar-nav li a{
    font-size: 16px;
    color: #444;
}
.slider-title h2::before {
    content: "";
    width: 50px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: #1e77bc;
  }
  .slider-title h2::after {
    content: "";
    width: 20px;
    height: 2px;
    margin: 0 0 0 -35px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: #616161;
  }
  .slider-title h2{
    padding: 0 0 15px;
    position: relative;
  }

  



  .nivor-product-item {
    width: 100%;
    max-width: 250px;
    position: relative;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .nivor-product-item figure {
    height: 260px;
    border-bottom: 1px solid #f2f2f4;
  }
  .nivor-product-item .nivor-product-content {
    width: 100%;
    display: inline-block;
    padding: 10px 20px 20px;
  }
  .nivor-product-item .nivor-product-content h2 {
    font-size: 1.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .nivor-product-item .nivor-product-content h2 a {
    color: #3e3e3e;
  }
  .nivor-bestselling-section .nivor-bestselling-item .nivor-bestselling-content .nivor-bestselling-price, .nivor-product-item .nivor-product-content .nivor-product-price, .nivor-views-section .nivor-views-item .nivor-views-content .nivor-views-price {
    font-size: 1.1rem;
    color: #b00b03;
    text-align: left;
  }
  .nivor-bestselling-section .nivor-bestselling-item .nivor-bestselling-content .price del, .nivor-product-item .nivor-product-content .nivor-product-price .price del, .nivor-views-section .nivor-views-item .nivor-views-content .price del {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    color: #666;
    text-decoration: none;
  }
  .nivor-bestselling-section .nivor-bestselling-item .nivor-bestselling-content .price span, .nivor-product-item .nivor-product-content .nivor-product-price .price span, .nivor-views-section .nivor-views-item .nivor-views-content .price span {
    margin: 0 0 10px;
    font-family: Vazir-Black;
    font-size: 1.25rem;
    color: #b00b03;
  }
  .nivor-bestselling-section .nivor-bestselling-item .nivor-bestselling-content .nivor-bestselling-price del span, .nivor-product-item .nivor-product-content .nivor-product-price .price del span, .nivor-views-section .nivor-views-item .nivor-views-content .price del span {
    font-family: Vazir-Light;
    font-size: .85rem;
    color: #666;
  }
  .nivor-bestselling-section .nivor-bestselling-item .nivor-bestselling-content .price span span, .nivor-product-item .nivor-product-content .nivor-product-price .price span span, .nivor-views-section .nivor-views-item .nivor-views-content .price span span {
    font-family: Vazir-Light;
    font-size: .85rem;
  }
  .nivor-product-item .nivor-product-content .nivor-product-buy a {
    height: 45px;
    line-height: 45px;
    display: block;
    padding: 0 15px 0 0;
    position: absolute;
    bottom: 15px;
    right: -5px;
    font-size: .9rem;
    background: #1e77bc;
    color: #fff;
    z-index: 10;
  }
  .nivor-product-item .nivor-product-content .nivor-product-buy a {
    line-height: 45px;
    font-size: .9rem;
    color: #fff;
  }
.nivor-product-item .nivor-product-content .nivor-product-buy a::before {

    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20px;
    background: inherit;
    z-index: -1;
    -webkit-transform: skew(-40deg,0deg);
    -moz-transform: skew(-40deg,0deg);
    -o-transform: skew(-40deg,0deg);
    transform: skew(-40deg,0deg);

}

.nivor-product-item .nivor-product-content .nivor-product-buy a::after {

    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #1e77bc;
    z-index: -2;

}
.owl-nav{
  display: none;
}
.logo{
  display: block;
  margin: 0 auto;
  background: #fff;
  padding: 10px 0 0 0;
}









/* Start Footer */
.nivor-signup-section {
  background-color: #F6F7FC;
  margin-top: 30px;
  padding-bottom: 50px;
  background-image: url("../image/bac.svg");
  background-size: cover;
  background-position: center center;
}
.nivor-signup-section .inner-nivor-signup-section .nivor-signup-Box {
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin-top: -4%;
  padding: 60px 32px 80px 32px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 6px 11px 0px rgba(63, 48, 178, 0.04), 0px 12px 22px 0px rgba(63, 48, 178, 0.08);
  box-shadow: 0px 6px 11px 0px rgba(63, 48, 178, 0.04), 0px 12px 22px 0px rgba(63, 48, 178, 0.08);
  border-radius: 8px;
  background-image: url("../image/contact.png");
  background-size: cover;
}
.nivor-signup-section .inner-nivor-signup-section .nivor-signup-Box h2 {
  line-height: 1.4em;
  margin-bottom: 20px;
  height: 34px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 25px;
  font-weight: bold;
}
.grad-pink-purple {
  background: -webkit-gradient(linear, left top, right top, from(#e072c3), to(#6758c5)) !important;
  background: linear-gradient(to right, #e072c3, #6758c5) !important;
    background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.footer-section {
  background-color: #F6F7FC;
  border-top: 1px solid #ECEBF7;
  padding: 60px 0 0 0;
  background-image: url("../image/footer-bg.svg");
  background-size: cover;
  background-position: center center;
}
.footer-section .footer-inner .footer-inner-col ul li {
  padding: 6px 0;
}
.footer-section .footer-inner .footer-inner-col ul li a {
  font-size: 14px;
  color: #6E838D;
}





/* End Footer */
section.features .item{
  background: #fff;
  padding: 20px;
}
section.features .item span.title{
  font-weight: bold;
  font-size: 16px;
  color: #444;
}
.aboutus img {
  border-radius: 0 15px 15px 0;
}
.aboutus h5 {
  font-weight: 800;
  font-size: 24px;
  color: #7C7994 !important;
}
.aboutus p {
  font-weight: 300;
  font-size: 15px;
  line-height: 2;
}
.aboutustext{
  padding: 0 30px;
}
.breadcrumb-item a{
  font-weight: 300;
  font-size: 15px;
  color: #6c757d;
  transition: 0.3s;
}
nav .breadcrumb{
  background: #fff;
  padding: 15px;
}
.blog-item h5 a{
  color: #444;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.6;
}
p.card-text{
  margin-top: 15px;
  font-size: 13px;
  color: #555;
}
.date, .author a{
  color: #666;
}
.btn-primary {
  color: #0d6efd;
  background-color: transparent;
  border-color: #0d6efd;
  transition: all .3s ease-in-out;
}
section.cart svg{
  width: 15px;
  margin: 0 10px;
}
textarea{
  resize: none;
}
section.content p{
  padding: 0 30px;
}
section.content hr{
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #1e77bc;
}
section.content img{
width: 100%;
max-width: 700px;
display: block;
margin: 0 auto;
  margin-top: 0px;
margin-top: 30px;
border-radius: 0;
}
.comments{
  padding: 0 30px;
}
section.product-box svg{
  width: 20px;
}
.price-all a {
  background-color: #ef4056;
  color: #fff !important;
  border-radius: 10px !important;
  position: relative;
  z-index: 1;
  width: 100%;
}
.hvr-shutter-out-horizontal::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ef4056;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  position: relative;
  background: #e1e1e1;
    background-color: rgb(225, 225, 225);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}
.gallery .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6;
  margin: 0 2px;
}
.gallery .nav-tabs{
  border-bottom: none;
}
.text-content{
  padding: 0 40px;
line-height: 3;
font-size: 16px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(239, 64, 86);
}
nav li.breadcrumb-item a:hover{
  color: rgb(239, 64, 86);
}